body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: var(--bg-color);
	padding: 25px;
	font-family: var(--font-family);
}

.page {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 100%;
}

h1 {
	font-size: 9vw;
	line-height: normal;
	color: var(--font-color);
	font-weight: 600;
}

.start-game-btn {
	border: 0px;
	background: var(--secondary-color);
	padding: 15px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 1.5rem;
	width: 100%;
	transition: all 400ms ease;
	box-shadow: none;
}

.start-game-btn:hover {
	box-shadow: rgba(251, 255, 14, 0.3) 0px 7px 29px 0px;
	transition: all 200ms ease;
}
